-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: yala_lims_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `appointments`
--

DROP TABLE IF EXISTS `appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `appointments` (
  `appt_id` int(11) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `doctor_name` varchar(150) NOT NULL,
  `appt_date` date NOT NULL,
  `appt_time` time NOT NULL,
  `reason` varchar(300) NOT NULL DEFAULT '',
  `status` enum('Scheduled','Completed','Cancelled','No-show') NOT NULL DEFAULT 'Scheduled',
  `notes` varchar(500) NOT NULL DEFAULT '',
  `created_by` varchar(150) NOT NULL DEFAULT '',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`appt_id`),
  KEY `patient_id` (`patient_id`),
  KEY `idx_date` (`appt_date`),
  KEY `idx_doctor` (`doctor_name`),
  CONSTRAINT `appointments_ibfk_1` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `appointments`
--

LOCK TABLES `appointments` WRITE;
/*!40000 ALTER TABLE `appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_log`
--

DROP TABLE IF EXISTS `audit_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_log` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL DEFAULT 0,
  `username` varchar(100) NOT NULL,
  `role` varchar(50) NOT NULL,
  `action` varchar(100) NOT NULL,
  `affected_table` varchar(100) NOT NULL,
  `affected_row_id` int(11) NOT NULL DEFAULT 0,
  `detail` varchar(500) NOT NULL DEFAULT '',
  `ip_address` varchar(45) NOT NULL DEFAULT '',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`log_id`),
  KEY `idx_user` (`user_id`),
  KEY `idx_action` (`action`),
  KEY `idx_time` (`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_log`
--

LOCK TABLES `audit_log` WRITE;
/*!40000 ALTER TABLE `audit_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `backup_log`
--

DROP TABLE IF EXISTS `backup_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `backup_log` (
  `backup_id` int(11) NOT NULL AUTO_INCREMENT,
  `filename` varchar(200) NOT NULL,
  `size_bytes` bigint(20) NOT NULL DEFAULT 0,
  `triggered_by` varchar(150) NOT NULL DEFAULT 'cron',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`backup_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `backup_log`
--

LOCK TABLES `backup_log` WRITE;
/*!40000 ALTER TABLE `backup_log` DISABLE KEYS */;
INSERT INTO `backup_log` VALUES (1,'yala_lims_2026-07-28_092332.sql',40656,'cron','2026-07-28 10:23:33'),(2,'yala_lims_2026-09-03_164559.sql',42820,'admin','2026-09-03 17:46:00');
/*!40000 ALTER TABLE `backup_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blood_crossmatches`
--

DROP TABLE IF EXISTS `blood_crossmatches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blood_crossmatches` (
  `crossmatch_id` int(11) NOT NULL AUTO_INCREMENT,
  `bag_id` int(11) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `doctor_name` varchar(100) NOT NULL,
  `crossmatch_result` enum('Compatible','Incompatible') DEFAULT 'Compatible',
  `crossmatched_by` varchar(100) NOT NULL,
  `notes` text DEFAULT NULL,
  `crossmatch_date` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`crossmatch_id`),
  KEY `bag_id` (`bag_id`),
  KEY `patient_id` (`patient_id`),
  CONSTRAINT `blood_crossmatches_ibfk_1` FOREIGN KEY (`bag_id`) REFERENCES `blood_inventory` (`bag_id`) ON DELETE CASCADE,
  CONSTRAINT `blood_crossmatches_ibfk_2` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blood_crossmatches`
--

LOCK TABLES `blood_crossmatches` WRITE;
/*!40000 ALTER TABLE `blood_crossmatches` DISABLE KEYS */;
/*!40000 ALTER TABLE `blood_crossmatches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `blood_inventory`
--

DROP TABLE IF EXISTS `blood_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `blood_inventory` (
  `bag_id` int(11) NOT NULL AUTO_INCREMENT,
  `bag_number` varchar(50) NOT NULL,
  `blood_group` enum('A+','A-','B+','B-','O+','O-','AB+','AB-') NOT NULL,
  `component_type` enum('Whole Blood','Packed Red Blood Cells','Fresh Frozen Plasma','Platelets') DEFAULT 'Whole Blood',
  `volume_ml` int(11) NOT NULL DEFAULT 450,
  `collection_date` date NOT NULL,
  `expiry_date` date NOT NULL,
  `donor_code` varchar(50) NOT NULL,
  `tti_screening` enum('Non-Reactive (Passed)','Reactive (Failed)') DEFAULT 'Non-Reactive (Passed)',
  `storage_fridge` varchar(50) DEFAULT 'Blood Bank Fridge 2-6°C',
  `status` enum('Available','Reserved','Transfused','Discarded') DEFAULT 'Available',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`bag_id`),
  UNIQUE KEY `bag_number` (`bag_number`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `blood_inventory`
--

LOCK TABLES `blood_inventory` WRITE;
/*!40000 ALTER TABLE `blood_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `blood_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clinical_flags`
--

DROP TABLE IF EXISTS `clinical_flags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clinical_flags` (
  `flag_id` int(11) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) NOT NULL,
  `request_id` int(11) DEFAULT NULL,
  `flagged_by` varchar(100) NOT NULL,
  `flag_note` text NOT NULL,
  `flag_type` enum('Warning','Allergy','Critical','Info') DEFAULT 'Warning',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `is_resolved` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`flag_id`),
  KEY `patient_id` (`patient_id`),
  CONSTRAINT `clinical_flags_ibfk_1` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clinical_flags`
--

LOCK TABLES `clinical_flags` WRITE;
/*!40000 ALTER TABLE `clinical_flags` DISABLE KEYS */;
/*!40000 ALTER TABLE `clinical_flags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insurance_claims`
--

DROP TABLE IF EXISTS `insurance_claims`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `insurance_claims` (
  `claim_id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `insurer_name` varchar(100) NOT NULL,
  `insurance_number` varchar(100) NOT NULL DEFAULT '',
  `claim_ref` varchar(100) NOT NULL DEFAULT '',
  `billed_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `approved_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `copay_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `status` enum('Submitted','Approved','Rejected','Partial') NOT NULL DEFAULT 'Submitted',
  `submitted_at` datetime NOT NULL DEFAULT current_timestamp(),
  `resolved_at` datetime DEFAULT NULL,
  `notes` varchar(500) NOT NULL DEFAULT '',
  PRIMARY KEY (`claim_id`),
  KEY `request_id` (`request_id`),
  KEY `patient_id` (`patient_id`),
  KEY `idx_insurer` (`insurer_name`),
  KEY `idx_status` (`status`),
  CONSTRAINT `insurance_claims_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `lab_requests` (`request_id`) ON DELETE CASCADE,
  CONSTRAINT `insurance_claims_ibfk_2` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insurance_claims`
--

LOCK TABLES `insurance_claims` WRITE;
/*!40000 ALTER TABLE `insurance_claims` DISABLE KEYS */;
/*!40000 ALTER TABLE `insurance_claims` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `insurance_providers`
--

DROP TABLE IF EXISTS `insurance_providers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `insurance_providers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `code` varchar(30) NOT NULL DEFAULT '',
  `active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `insurance_providers`
--

LOCK TABLES `insurance_providers` WRITE;
/*!40000 ALTER TABLE `insurance_providers` DISABLE KEYS */;
INSERT INTO `insurance_providers` VALUES (1,'NHIF / SHA','NHIF',1),(2,'AAR Insurance','AAR',1),(3,'Jubilee Insurance','JUB',1),(4,'Britam','BRT',1),(5,'Madison Insurance','MAD',1),(6,'Resolution Insurance','RES',1),(7,'CIC Insurance','CIC',1),(8,'Sanlam','SAN',1),(9,'Equity Afia','EQA',1),(10,'Other','OTH',1);
/*!40000 ALTER TABLE `insurance_providers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lab_inventory`
--

DROP TABLE IF EXISTS `lab_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lab_inventory` (
  `item_id` int(11) NOT NULL AUTO_INCREMENT,
  `item_name` varchar(150) NOT NULL,
  `category` varchar(50) NOT NULL,
  `batch_number` varchar(50) NOT NULL,
  `expiry_date` date NOT NULL,
  `quantity_on_hand` int(11) NOT NULL DEFAULT 0,
  `unit_of_measure` varchar(30) NOT NULL,
  `reorder_level` int(11) NOT NULL DEFAULT 10,
  `storage_location` varchar(100) DEFAULT 'Main Lab Shelf',
  `status` enum('In Stock','Low Stock','Expired') DEFAULT 'In Stock',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`item_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lab_inventory`
--

LOCK TABLES `lab_inventory` WRITE;
/*!40000 ALTER TABLE `lab_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `lab_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lab_requests`
--

DROP TABLE IF EXISTS `lab_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lab_requests` (
  `request_id` int(11) NOT NULL AUTO_INCREMENT,
  `patient_id` int(11) DEFAULT NULL,
  `requested_by` varchar(100) DEFAULT NULL,
  `request_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `status` enum('Pending','In Progress','Completed','Rejected') DEFAULT 'Pending',
  `payment_status` enum('Unpaid','Paid') DEFAULT 'Unpaid',
  PRIMARY KEY (`request_id`),
  KEY `patient_id` (`patient_id`),
  CONSTRAINT `lab_requests_ibfk_1` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lab_requests`
--

LOCK TABLES `lab_requests` WRITE;
/*!40000 ALTER TABLE `lab_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `lab_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lab_tests`
--

DROP TABLE IF EXISTS `lab_tests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lab_tests` (
  `test_id` int(11) NOT NULL AUTO_INCREMENT,
  `test_name` varchar(100) NOT NULL,
  `test_category` varchar(50) DEFAULT NULL,
  `cost` decimal(10,2) NOT NULL,
  `insurance_covered` tinyint(1) NOT NULL DEFAULT 1,
  `insurance_cover_pct` decimal(5,2) NOT NULL DEFAULT 100.00,
  `insurance_cap_kes` decimal(10,2) NOT NULL DEFAULT 0.00,
  `normal_range` varchar(100) DEFAULT NULL,
  `units` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`test_id`)
) ENGINE=InnoDB AUTO_INCREMENT=142 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lab_tests`
--

LOCK TABLES `lab_tests` WRITE;
/*!40000 ALTER TABLE `lab_tests` DISABLE KEYS */;
/*!40000 ALTER TABLE `lab_tests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `notif_id` int(11) NOT NULL AUTO_INCREMENT,
  `target_role` varchar(20) NOT NULL,
  `target_user_id` int(11) DEFAULT NULL,
  `severity` enum('Critical','Warning','Success','Info') NOT NULL DEFAULT 'Info',
  `category` varchar(30) NOT NULL DEFAULT 'General',
  `message` text NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`notif_id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `patients`
--

DROP TABLE IF EXISTS `patients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `patients` (
  `patient_id` int(11) NOT NULL AUTO_INCREMENT,
  `opd_number` varchar(20) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `age` int(11) NOT NULL,
  `gender` enum('Male','Female','Other') NOT NULL,
  `phone_number` varchar(15) DEFAULT NULL,
  `insurance_provider` varchar(100) NOT NULL DEFAULT '',
  `insurance_number` varchar(100) NOT NULL DEFAULT '',
  `insurance_type` enum('None','SHA','Private','NHIF-Legacy','Corporate') NOT NULL DEFAULT 'None',
  `registered_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `insurance_member_no` varchar(100) NOT NULL DEFAULT '',
  PRIMARY KEY (`patient_id`),
  UNIQUE KEY `opd_number` (`opd_number`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patients`
--

LOCK TABLES `patients` WRITE;
/*!40000 ALTER TABLE `patients` DISABLE KEYS */;
/*!40000 ALTER TABLE `patients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payments` (
  `payment_id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) DEFAULT NULL,
  `amount_paid` decimal(10,2) DEFAULT NULL,
  `payment_method` varchar(50) DEFAULT NULL,
  `payment_type` enum('Cash','Insurance','Split') NOT NULL DEFAULT 'Cash',
  `insurer_name` varchar(100) NOT NULL DEFAULT '',
  `insurer_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `patient_copay` decimal(10,2) NOT NULL DEFAULT 0.00,
  `claim_ref` varchar(100) NOT NULL DEFAULT '',
  `reference_no` varchar(50) DEFAULT NULL,
  `payment_date` timestamp NOT NULL DEFAULT current_timestamp(),
  `insurance_provider` varchar(100) NOT NULL DEFAULT '',
  `insurance_member_no` varchar(100) NOT NULL DEFAULT '',
  `insurance_claim_no` varchar(100) NOT NULL DEFAULT '',
  `waiver_reason` varchar(300) NOT NULL DEFAULT '',
  `copay_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `excluded_tests` text DEFAULT NULL,
  `received_by` varchar(150) NOT NULL DEFAULT '',
  PRIMARY KEY (`payment_id`),
  KEY `request_id` (`request_id`),
  CONSTRAINT `payments_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `lab_requests` (`request_id`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qc_equipment_logs`
--

DROP TABLE IF EXISTS `qc_equipment_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `qc_equipment_logs` (
  `log_id` int(11) NOT NULL AUTO_INCREMENT,
  `equipment_name` varchar(100) NOT NULL,
  `parameter_tested` varchar(100) NOT NULL,
  `expected_range` varchar(50) NOT NULL,
  `recorded_value` varchar(50) NOT NULL,
  `status` enum('Compliant','Out of Range','Service Required') DEFAULT 'Compliant',
  `logged_by` varchar(100) NOT NULL,
  `corrective_action` text DEFAULT NULL,
  `log_date` date NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`log_id`)
) ENGINE=InnoDB AUTO_INCREMENT=96 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qc_equipment_logs`
--

LOCK TABLES `qc_equipment_logs` WRITE;
/*!40000 ALTER TABLE `qc_equipment_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `qc_equipment_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sample_rejections`
--

DROP TABLE IF EXISTS `sample_rejections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sample_rejections` (
  `rejection_id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `patient_id` int(11) NOT NULL,
  `rejection_reason` varchar(100) NOT NULL,
  `sample_type` varchar(50) NOT NULL,
  `rejected_by` varchar(100) NOT NULL,
  `comments` text DEFAULT NULL,
  `status` enum('Recollection Pending','Recollected','Cancelled') DEFAULT 'Recollection Pending',
  `rejection_date` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`rejection_id`),
  KEY `request_id` (`request_id`),
  KEY `patient_id` (`patient_id`),
  CONSTRAINT `sample_rejections_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `lab_requests` (`request_id`) ON DELETE CASCADE,
  CONSTRAINT `sample_rejections_ibfk_2` FOREIGN KEY (`patient_id`) REFERENCES `patients` (`patient_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sample_rejections`
--

LOCK TABLES `sample_rejections` WRITE;
/*!40000 ALTER TABLE `sample_rejections` DISABLE KEYS */;
/*!40000 ALTER TABLE `sample_rejections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sms_log`
--

DROP TABLE IF EXISTS `sms_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sms_log` (
  `sms_id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `message` text NOT NULL,
  `status` varchar(50) NOT NULL DEFAULT 'sent',
  `provider_ref` varchar(100) NOT NULL DEFAULT '',
  `sent_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`sms_id`),
  KEY `request_id` (`request_id`),
  CONSTRAINT `sms_log_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `lab_requests` (`request_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sms_log`
--

LOCK TABLES `sms_log` WRITE;
/*!40000 ALTER TABLE `sms_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `sms_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test_results`
--

DROP TABLE IF EXISTS `test_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `test_results` (
  `result_id` int(11) NOT NULL AUTO_INCREMENT,
  `request_id` int(11) DEFAULT NULL,
  `test_id` int(11) DEFAULT NULL,
  `result_value` varchar(255) NOT NULL,
  `technician_remarks` text DEFAULT NULL,
  `entered_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`result_id`),
  KEY `request_id` (`request_id`),
  KEY `test_id` (`test_id`),
  KEY `entered_by` (`entered_by`),
  CONSTRAINT `test_results_ibfk_1` FOREIGN KEY (`request_id`) REFERENCES `lab_requests` (`request_id`),
  CONSTRAINT `test_results_ibfk_2` FOREIGN KEY (`test_id`) REFERENCES `lab_tests` (`test_id`),
  CONSTRAINT `test_results_ibfk_3` FOREIGN KEY (`entered_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=205 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test_results`
--

LOCK TABLES `test_results` WRITE;
/*!40000 ALTER TABLE `test_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `test_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `role` enum('Admin','Receptionist','LabTech','Doctor') NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-14 16:15:05
